.navbar {
    height: 50px;
    border-bottom: 0.5px solid gray;
    display:flex;
    align-items: center;
    font-size: 14px;
    color: orange;
    

    .wrapper {
         width: 100%;
         padding: 15px;
         display: flex;
         align-items: center;
         justify-content: space-between;
            .lookup{
                width: 30px;
                height: 30px;
                align-items: center;
                
            }

            .search{
            display: flex;
            align-items: center;
            border:0.5px solid lightgray;
            padding: 3px;
                input{
                    border: none;
                    outline: none;
                    background: transparent;
                    &::placeholder{
                        font-size: 13px;

                    }
                }
        }

    
            .items {
            display: flex;
            background-color: white;
            align-items: center;
            justify-content: space-between;

            .item{
                display: flex;
                align-items: center;
                margin-right: 50px;
            }
                .avatar{
                    width: 30px;
                    height: 30px;
                    border-radius: 50px;

                }
         }
    } 
}
