.sidebar{
    background-color: white;
    flex: 1;
    border-right: 0.5px solid darkgray;
    min-height: 100vh ;
    

    .top{
        background-color: white;
        margin-top: 15px;
        margin-bottom: 15px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        .logo{
            font-size: 25px;
            font-weight: bold;
            color:#203150;
            padding: 10px;
        }
        
    }
    hr{
        height: 10;
        border: 0.5px solid darkgray;
    }
    .center{
        padding-left: 15px;

        ul{
            list-style: none;
            margin: 0;
            padding: 0;

            .title{
                font-size: 15px;
                font-weight: bold;
                color: #203150;
                margin-top: 15px;
                margin-bottom: 5px;
            }

            li{
                display: flex;
                align-items: center;
                padding: 5px;
                cursor: pointer;

                &:hover{
                    background-color: whitesmoke;
                }
                .icon{
                    font-size: 20px;
                    color: orange;
                }
                span{
                    font-size: 13px;
                    font-weight: 600;
                    color: black;
                    margin-left: 7px;
                }
            }
        }
    }
}

.bottom{
    display: Flex;
    position:fixed;
    margin-left: 100px;
    padding: 1px;

    .minimize{
        cursor: pointer;
        color: orange;
    }
        &:hover {
            background-color: whitesmoke;
        }
}